.SortingVisualizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f3f4; /* Updated Soft Gray Background */
    font-family: 'Arial', sans-serif;
}

.controlGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%; /* Increased side padding */
    box-sizing: border-box;
}

.topControl, .bottomControl {
    transition: background-color 0.3s;
    background-color: #e0e2e4;
}

.topControl:hover, .bottomControl:hover {
    background-color: #e0e2e4; /* Slight shade change on hover */
}

.speedControl {
    display: flex;
    align-items: center;
    & > * {
        margin-left: 15px; /* Increased spacing between elements */
    }
}

.arrayContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px; /* Increased top margin */
    width: 95%; /* To give it more space */
    height: 40%;
    border: 3px solid #acb5bd; /* Updated Border Color */
    padding: 30px 0;
    border-radius: 12px;
}

.arrayContainer > div {
    width: 20px; /* Increased bar width */
    margin: 0 5px; /* Increased space between bars */
    background-color: rgb(90,170,250); /* Updated blue color */
    transition: height 0.3s, background-color 0.3s;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.arrayContainer > div:hover {
    transform: scaleY(1.08); /* More pronounced hover effect */
    background-color: #FFC947; 
}

.arrayContainer > div.action {
    background: linear-gradient(to top, #7DAAE3, #9FBFE6);
}

.arrayContainer > div.swap {
    background-color: #FFCC77; 
}

.arrayContainer > div.sorted {
    background-color: #AED9A0; 
}

.SortingVisualizer button {
    margin-top: 25px; 
    padding: 12px 25px; /* Updated button size */
    border: none;
    border-radius: 7px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 3px 7px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}

.SortingVisualizer button:hover {
    background-color: #0056b3;
    box-shadow: 0 3px 9px rgba(0,0,0,0.25);
}

.SortingVisualizer select, 
.SortingVisualizer p {
    margin-top: 15px; /* Increased spacing */
    font-size: 16px; /* Bigger font size for modern look */
}

.infoDisplay {
    margin-top: 15px;
}

.settingsBox {
    float: left;
    /* Other styles... */
}
